@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    /* background-color: red; */ 
    /* /* box-sizing: border-box; */
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 19px 10px;
}
ul{
    display: flex;
}

ul li {
    list-style: none;
    padding: 0 13px;
    font-size: 13px;
}
ul li a {
    text-decoration: none;
    color: white;
}
ul li a:hover{
    color: grey;
}

footer{
    background-color: black;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;

}
main{
    min-height: 90vh;
    padding: 2px;
}
h1{
    font-weight: 400;
}
.container{
    background-color: azure;
    max-width: 80vw;
    margin: auto;
    padding: 15px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
}

.container h1{
    padding: 12px 0;
}
.btn{
    background-color: black;
    color: white;
    border: 2px solid  grey;
    border-radius: 30%;
    padding: 9px 12px;
    cursor: pointer;
}


@media only screen and (max-width:600px){
    /* body{
        background-color: lightblue;
    } */
    .container{
        font-size: 12px;
    }
    nav{
        flex-direction: column;
    }
  .logo{
    padding: 5px  0 20px 0;
  }

}

#resultcont div::first-letter{
  text-transform: uppercase;
}
input[type='text']{
    background-color:azure;
    color: black;
    min-width: 23vw;
    padding: 5px 12px;
    
}
img{
    width: 100px;
    margin-left:30px;
}
